body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #333; 
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/*Container*/

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
    
    background: url(../images/intro/intro.jpg) center no-repeat;
    background-size: cover;
}

.intro__title {
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: blue;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro__suptitle {
    margin-bottom: 15px;
    font-size: 70px;
    color: blue;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

/*Header*/

.header {
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    padding-top: 30px;
}

.header__logo {
    font-size: 40px;
    font-weight: 700;
    color: blue;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.fixed {
    padding: 10px 0;
    
    background-color: #f2f7fa;
    
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #f2f7fa;
}

/*Navigation*/

.nav {
    font-size: 13px;
    text-transform: uppercase;
}

.nav__link {
    color: blue;
    text-decoration: none;
    position: relative;
    
    transition: color .2s linear;
    
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #fce38a;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    opacity: 0;
    transition: opacity .2s linear;
}

.nav__link:hover:after {
    opacity: 1;
}

/*Nav Toggle*/

.nav__toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    
    font-size: 0;
    color: transparent;
    
    border: 0;
    background: none;
    cursor: pointer;
    
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav__toggle:focus {
    outline: 0;
}

.nav__toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: blue;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    transition: background .2s linear;
}

.nav__toggle.active .nav__toggle__item {
    background: none;
}

.nav__toggle__item:before,
.nav__toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    
    background-color: blue;
    
    position: absolute;
    left: 0;
    z-index: 1;
    
    transition: transform .2s linear;
}

.nav__toggle__item:before {
    top: -8px;
    
}

.nav__toggle__item:after {
    bottom: -8px;
}

.nav__toggle.active .nav__toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0, -2px, 0);
}

.nav__toggle.active .nav__toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0px);
}

/*Section*/

.section {
    padding: 85px;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    
    text-align: center;
}

.setcion__suptitle {
    font-size: 25px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.setcion__title {
    font-size: 35px;
    font-weight: 700;
    color: #333;
    
    text-transform: uppercase;
}

.setcion__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 35px auto;
    
    background-color: #f38181;
}

.section__text {
    font-size: 20px;
    color: #999;
}

/*Index*/

.index {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index__item {
    width: 33.33333%;
    padding: 0 15px;
}

.index__inner {
    background-color: #95e1d3;
    position: relative;
}

.index__item:hover .index__img img {
    opacity: .1;
}

.index__item:hover .index__img {
    transform: translate3d(-10px, -10px, 0);
}

.index__item:hover .index__text {
    opacity: 1;
}

.index__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    
    transition: transform .1s linear;
}

.index__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.index__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    
    opacity: 0;
    
    transition: opacity .2s linear;
}

/*Intro Two*/

.intro__two {
    display: flex;
    padding: 85px;
    
    width: 100%;
    height: 100vh;
    
    background: url(../images/intro/intro-2.jpg) center no-repeat;
}

.intro__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    
    text-align: center;
}

.intro_suptitle {
    font-size: 25px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.intro_title {
    font-size: 35px;
    font-weight: 700;
    color: #333;
    
    text-transform: uppercase;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 35px auto;
    
    background-color: #f38181;
}

.intro_text {
    font-size: 20px;
    color: #999;
}

/*Оптимизация*/

@media (max-width: 770px) {   /* Планшеты */
    
    /*Nav*/
    
    .nav {
        display: none;
        
        width: 100%;
        
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
        
        border-color: #f2f7fa;
    }
    
    .nav.active {
        display: block;
    }
    
    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    
    /*Nav Toggle*/
    
    .nav__toggle {
        display: block;
    }
    
    /*Header*/
    
    .header {
        padding: 10px 0;
    }
    
    .header__logo {
        font-size: 35px;
    }
    
    /*Intro*/
    
    .intro {
        min-height: 650px;
    }
    
    
    .intro__suptitle {
        font-size: 50px;
    }
    
    .intro__title {
        font-size: 60px;
    }
    
    /*Section*/
    
    .section {
        padding: 40px 0;
    }
    
    .setcion__suptitle {
        font-size: 23px;
    }
    
    .setcion__title {
        font-size: 27px;
    }
    
    /*Index*/
    
    .index {
        margin-top: 50px;
        justify-content: center;
    }
    
    .index__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }
    
    .index__item:last-child {
        margin-bottom: 0;
    }
    
    .index__text {
        font-size: 15px;
    }
}

@media (max-width: 575px) {   /* Телефоны */
    
    /*Nav*/
    
    .nav {
        display: none;
        
        width: 100%;
        
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
        
        border-color: #f2f7fa;
    }
    
    .nav.active {
        display: block;
    }
    
    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    
    /*Nav Toggle*/
    
    .nav__toggle {
        display: block;
    }
    
    /*Header*/
    
    .header {
        padding: 10px 0;
    }
    
    .header__logo {
        font-size: 30px;
    }
    
    /*Intro*/
    
    .intro {
        min-height: 650px;
    }
    
    
    .intro__suptitle {
        font-size: 30px;
    }
    
    .intro__title {
        font-size: 35px;
    }
    
    /*Intro Two*/
    
    .intro__two {
        padding: 0;
    }
    
    .intro_suptitle {
        font-size: 27px;
    }
    
    .intro_title {
        font-size: 28px;
    }
    
    /*Section*/
    
    .section {
        padding: 40px 0;
    }
    
    .section__title {
        font-size: 24px;
    }
    
    .section__suptitle {
        font-size: 15px;
    }
    
    .section__title:after {
        margin: 20px auto;
    }
    
    .section__header {
        margin-bottom: 50px;
    }
    
    /*Index*/
    
    .index {
        margin-top: 50px;
        justify-content: center;
    }
    
    .index__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }
    
    /*Дополнительно*/
    
    .text__info {
        font-size: 15px;
    }
}